body{
    height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex; 
}

li {
    margin-left: 10px;
    align-items: flex-end;
}

a {
    text-decoration: none;
}

.nav-center {
    display: flex;
    background-color: white;
    justify-content: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.7);
}

.container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    background-color: black;
}

.btn {
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

